source s_nginx {
    file("/var/log/nginx/access.log" follow-freq(1) flags(no-parse));
};

destination d_nginx {
    tcp("{{ syslog_host | mandatory }}" port(25214)
    tls(ca_dir("/etc/syslog-ng/ca.d")
    key_file("/etc/syslog-ng/cert.d/clientkey.pem")
    cert_file("/etc/syslog-ng/cert.d/clientcert.pem"))
    );
};

log { source(s_nginx); destination(d_nginx); };
