[Unit]
Description=Socket for rest_framework

[Socket]
ListenStream=/var/run/uwsgi.socket
SocketUser=www-data
SocketGroup=www-data
SocketMode=0664

[Install]
WantedBy=sockets.target
