[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK="/opt/%t/ssh-agent.socket"
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK -t 300
User=www-data
Group=www-data

[Install]
WantedBy=default.target
